{% extends 'seller/main.html'%}
{% load static %}
{% block content %}




  <!-- Page Title (Shop)-->
  <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Bhutansale.com Selling Rules</h1>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container">
    
    <!-- Product description section 1-->
    <div class="row align-items-center py-md-3">
      <div class="col-lg-5 col-md-6 offset-lg-1 order-md-2"><img class="d-block rounded-lg" src="{%static 'img/shop/single/prod-img.jpg' %}" alt="Image"></div>
      <div class="col-lg-4 col-md-6 offset-lg-1 py-4 order-md-1">
        <h2 class="h3 mb-4 pb-2">1. High quality materials</h2>
        <h6 class="font-size-base mb-3">Seller's have to suppply promised quality</h6>
        <p class="font-size-sm text-muted pb-2">Any compromise in quality will result in seller negative review and hence less sale</p>
        
      </div>
    </div>
    <!-- Product description section 2-->
    <div class="row align-items-center py-4 py-lg-5">
      <div class="col-lg-5 col-md-6 offset-lg-1"><img class="d-block rounded-lg" src="{% static 'img/shop/single/prod-map.png' %}" alt="Map"></div>
      <div class="col-lg-4 col-md-6 offset-lg-1 py-4">
        <h2 class="h3 mb-4 pb-2">2. Where is it made?</h2>
        <h6 class="font-size-base mb-3">Manufacturer, seller should clearly mention the Manufacturer and the country it's made in</h6>
        <p class="font-size-sm text-muted pb-2">​According to the country Manufacturer <strong> import taxes </strong>will be calculated</p>
        
      </div>
    </div>
    <!-- Product description section 1-->
    <div class="row align-items-center py-md-3">
        <div class="col-lg-5 col-md-6 offset-lg-1 order-md-2"><img class="d-block rounded-lg" src="{%static 'img/shop/single/prod-img.jpg' %}" alt="Image"></div>
        <div class="col-lg-4 col-md-6 offset-lg-1 py-4 order-md-1">
          <h2 class="h3 mb-4 pb-2">3. Seller should list the price including the tax rate of<strong> Bhutan Goverment</strong></h2>
          <h6 class="font-size-base mb-3">order</h6>
          <p class="font-size-sm text-muted pb-2">After a successfull order is placed the seller will handover the ordered product to the Company person of <strong>Bhutansale.com</strong>. The seller should produce 3 copies of bill one for customer , one for the company, and one for the seller. To prevent any miss-calculations. </p>
          
        </div>
      </div>

       <!-- Product description section 2-->
    <div class="row align-items-center py-4 py-lg-5">
        <div class="col-lg-5 col-md-6 offset-lg-1"><img class="d-block rounded-lg" src="{% static 'img/shop/single/prod-map.png' %}" alt="Map"></div>
        <div class="col-lg-4 col-md-6 offset-lg-1 py-4">
          <h2 class="h3 mb-4 pb-2">4. Payments</h2>
          <h6 class="font-size-base mb-3">Seller after a successfull order the money will be paid to th seller in cash or wire transfer in Nugultrum After 15days of a product is delivered. </h6>
          <p class="font-size-sm text-muted pb-2">​According to the country Manufacturer <strong> import taxes </strong>will be calculated</p>
          
        </div>
      </div>

       <!-- Product description section 1-->
    <div class="row align-items-center py-md-3">
        <div class="col-lg-5 col-md-6 offset-lg-1 order-md-2"><img class="d-block rounded-lg" src="{%static 'img/shop/single/illegalprod-img.jpg' %}" alt="Image"></div>
        <div class="col-lg-4 col-md-6 offset-lg-1 py-4 order-md-1">
          <h2 class="h3 mb-4 pb-2">5. Illegal products</h2>
          <h6 class="font-size-base mb-3">Illegal products banned by the <strong> Bhutan Goverment</strong></h6>
          <p class="font-size-sm text-muted pb-2">if any seller is found smuglling any illegal products to the country which is against <strong>Bhutan Goverment</strong>. The seller will be banned and all the pending payments will be freezed to pay the compensation to the Goverment </p>
          
        </div>
      </div>
  </div>



{% endblock content %}