{% extends 'v1/main.html'%}
{% load static %}
{% block content %}

<!-- Body-->
<body class="toolbar-enabled">
  
    <!-- Page Title (Shop)-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label=" ">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'index' %}"><i class="fa fa-home"></i>Home</a></li>&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              <li class="breadcrumb-item text-nowrap"><a href="shop-grid-ls.html">Shop</a>&nbsp;&nbsp;&nbsp;
              </li><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3 text-light mb-0">Your cart</h1>
        </div>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
          <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
            <h2 class="h6 text-light mb-0">Products</h2><a class="btn btn-outline-primary btn-sm pl-2" href="{% url 'index'%}"><i class="fa fa-arrow-left mr-2"></i>Continue shopping</a>
          </div>
          <!-- Item-->
          <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{% url 'single'%}" style="width: 10rem;"><img src="{% static 'img/shop/cart/01.jpg' %}" alt="Product"></a>
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a href="{% url 'single'%}">Women Colorblock Sneakers</a></h3>
                <div class="font-size-sm"><span class="text-muted mr-2">Size:</span>8.5</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>White &amp; Blue</div>
                <div class="font-size-lg text-accent pt-2">$154.<small>00</small></div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <div class="form-group mb-0">
                <label class="font-weight-medium" for="quantity1">Quantity</label>
                <input class="form-control" type="number" id="quantity1" value="1">
              </div>
              <button class="btn btn-link px-0 text-danger" type="button"><i class="fa fa-times mr-2"></i><span class="font-size-sm">Remove</span></button>
            </div>
          </div>
          <!-- Item-->
          <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{% url 'single'%}" style="width: 10rem;"><img src="{% static 'img/shop/cart/02.jpg' %}" alt="Product"></a>
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a href="{% url 'single'%}">TH Jeans City Backpack</a></h3>
                <div class="font-size-sm"><span class="text-muted mr-2">Brand:</span>Tommy Hilfiger</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>Khaki</div>
                <div class="font-size-lg text-accent pt-2">$79.<small>50</small></div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <div class="form-group mb-0">
                <label class="font-weight-medium" for="quantity2">Quantity</label>
                <input class="form-control" type="number" id="quantity2" value="1">
              </div>
              <button class="btn btn-link px-0 text-danger" type="button"><i class="fa fa-times mr-2"></i><span class="font-size-sm">Remove</span></button>
            </div>
          </div>
          <!-- Item-->
          <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{% url 'single'%}" style="width: 10rem;"><img src="{% static 'img/shop/cart/03.jpg' %}" alt="Product"></a>
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a href="{% url 'single'%}">3-Color Sun Stash Hat</a></h3>
                <div class="font-size-sm"><span class="text-muted mr-2">Brand:</span>The North Face</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>Pink / Beige / Dark blue</div>
                <div class="font-size-lg text-accent pt-2">$22.<small>50</small></div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <div class="form-group mb-0">
                <label class="font-weight-medium" for="quantity3">Quantity</label>
                <input class="form-control" type="number" id="quantity3" value="1">
              </div>
              <button class="btn btn-link px-0 text-danger" type="button"><i class="fa fa-times mr-2"></i><span class="font-size-sm">Remove</span></button>
            </div>
          </div>
          <!-- Item-->
          <div class="d-sm-flex justify-content-between align-items-center my-4 pb-3 border-bottom">
            <div class="media media-ie-fix d-block d-sm-flex align-items-center text-center text-sm-left"><a class="d-inline-block mx-auto mr-sm-4" href="{% url 'single'%}" style="width: 10rem;"><img src="{% static 'img/shop/cart/04.jpg' %}" alt="Product"></a>
              <div class="media-body pt-2">
                <h3 class="product-title font-size-base mb-2"><a href="{% url 'single'%}">Cotton Polo Regular Fit</a></h3>
                <div class="font-size-sm"><span class="text-muted mr-2">Size:</span>42</div>
                <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>Light blue</div>
                <div class="font-size-lg text-accent pt-2">$9.<small>00</small></div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 9rem;">
              <div class="form-group mb-0">
                <label class="font-weight-medium" for="quantity4">Quantity</label>
                <input class="form-control" type="number" id="quantity4" value="1">
              </div>
              <button class="btn btn-link px-0 text-danger" type="button"><i class="fa fa-times mr-2"></i><span class="font-size-sm">Remove</span></button>
            </div>
          </div>
          <button class="btn btn-outline-accent btn-block" type="button"><i class="fa fa-refresh font-size-base mr-2"></i>Update cart</button>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0">
          <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
            <div class="text-center mb-4 pb-3 border-bottom">
              <h2 class="h6 mb-3 pb-1">Subtotal</h2>
              <h3 class="font-weight-normal">$265.<small>00</small></h3>
            </div>
            <div class="form-group mb-4">
              <label class="mb-3" for="order-comments"><span class="badge badge-info font-size-xs mr-2">Note</span><span class="font-weight-medium">Additional comments</span></label>
              <textarea class="form-control" rows="6" id="order-comments"></textarea>
            </div>
            <div class="accordion" id="order-options">
              <div class="card">
                <div class="card-header">
                  <h3 class="accordion-heading"><a href="#promo-code" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="promo-code">Apply promo code</a></h3>
                </div>
                <div class="collapse show" id="promo-code" data-parent="#order-options">
                  <form class="card-body needs-validation" method="post" novalidate>
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Promo code" required>
                      <div class="invalid-feedback">Please provide promo code.</div>
                    </div>
                    <button class="btn btn-outline-primary btn-block" type="submit">Apply promo code</button>
                  </form>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="accordion-heading"><a class="collapsed" href="#shipping-estimates" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="shipping-estimates">Shipping estimates</a></h3>
                </div>
                <div class="collapse" id="shipping-estimates" data-parent="#order-options">
                  <div class="card-body">
                    <form class="needs-validation" novalidate>
                      <div class="form-group">
                        <select class="form-control custom-select" required>
                          <option value="">Choose your country</option>
                          <option value="Australia">Australia</option>
                          <option value="Belgium">Belgium</option>
                          <option value="Canada">Canada</option>
                          <option value="Finland">Finland</option>
                          <option value="Mexico">Mexico</option>
                          <option value="New Zealand">New Zealand</option>
                          <option value="Switzerland">Switzerland</option>
                          <option value="United States">United States</option>
                        </select>
                        <div class="invalid-feedback">Please choose your country!</div>
                      </div>
                      <div class="form-group">
                        <select class="form-control custom-select" required>
                          <option value="">Choose your city</option>
                          <option value="Bern">Bern</option>
                          <option value="Brussels">Brussels</option>
                          <option value="Canberra">Canberra</option>
                          <option value="Helsinki">Helsinki</option>
                          <option value="Mexico City">Mexico City</option>
                          <option value="Ottawa">Ottawa</option>
                          <option value="Washington D.C.">Washington D.C.</option>
                          <option value="Wellington">Wellington</option>
                        </select>
                        <div class="invalid-feedback">Please choose your city!</div>
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="ZIP / Postal code" required>
                        <div class="invalid-feedback">Please provide a valid zip!</div>
                      </div>
                      <button class="btn btn-outline-primary btn-block" type="submit">Calculate shipping</button>
                    </form>
                  </div>
                </div>
              </div>
            </div><a class="btn btn-primary btn-shadow btn-block mt-4" href="{% url 'checkoutdetails' %}"><i class="fa fa-credit-card-alt font-size-lg mr-2"></i>Proceed to Checkout</a>
          </div>
        </aside>
      </div>
    </div>

    <!-- Toolbar for handheld devices-->
    <div class="cz-handheld-toolbar">
      <div class="d-table table-fixed w-100"><a class="d-table-cell cz-handheld-toolbar-item" href="account-wishlist.html"><span class="cz-handheld-toolbar-icon"><i class="fa fa-heart-o"></i></span><span class="cz-handheld-toolbar-label">Wishlist</span></a><a class="d-table-cell cz-handheld-toolbar-item" href="#navbarCollapse" data-toggle="collapse" onclick="window.scrollTo(0, 0)"><span class="cz-handheld-toolbar-icon"><i class="fa fa-bars fa-lg"></i></span><span class="cz-handheld-toolbar-label">Menu</span></a><a class="d-table-cell cz-handheld-toolbar-item" href="shop-cart.html"><span class="cz-handheld-toolbar-icon"><i class="fa fa-shopping-basket"></i><span class="badge badge-primary badge-pill ml-1">4</span></span><span class="cz-handheld-toolbar-label">$265.00</span></a>
      </div>
    </div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon fa fa-arrow-up">   </i></a>
 
  </body>




{% endblock content%}